.canvas__cell-inner {
	background: #f2f2f2;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	min-height: 5px;
	overflow: hidden;
	font-size: 12px;
}
/*
.canvas__cell-inner:before {
  content: "";
  padding-top: 100%;
  float: left;
}*/

.is-mine {
	background: #A1D6FF;
}

.is-empty {
	background: #537894;
}

.is-flaged {

}

.is-flaged .flag {
	width: 2px;
	height: 20px;
	background: #000;
	display: inline-block;
	position: relative;
}

.is-flaged .flag:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	transform: translateX(100%);
	border: solid 6px red;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right: none;
}

.is-flaged.is-bang {
	position: relative;
	background: #f2f2f2;
}

.is-flaged.is-bang:after,
.is-flaged.is-bang:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 55px;
	background: #2A70A6;
	left: 50%;
	top: 50%;
}

.is-flaged.is-bang:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.is-flaged.is-bang:before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.is-bang {
	background: red;
}

.is-bang .mine {
	background: yellow;
	--size: 14px;
	width: var(--size);
	height: var(--size);
}

.mine {
	--size: 10px;
	background: #2A70A6;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
}

.counter {
	background: #dfdfdf;
	font-weight: bold;
	color: #2A70A6;
	font-size: 16px;
}