<div (click)="clicked(cell)" (contextmenu)="clickedRight(cell)" 
	[class.is-empty]="cell.type === 'empty' && cell.opened" 
	[class.is-bang]="cell.detonated" 
	[class.is-mine]="cell.type === 'mine' && cell.opened" 
	[class.counter]="cell.type === 'counter' && cell.opened" 
	[class.is-flaged]="!cell.opened && cell.flaged" 
	class="canvas__cell-inner">
		<span *ngIf="cell.type === 'mine' && cell.opened" class="mine"></span>
		<span *ngIf="!cell.opened && cell.flaged" class="flag"></span>
		<span *ngIf="cell.type === 'counter' && cell.opened">{{ cell.value }}</span>
</div>