*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: Arial, sans-serif;
}

body {
 	padding: 0;
 	margin: 0;
}

.container,
.middle {
	position: relative;
	max-width: 975px;
	margin: 0 auto;
}
.container {
	padding: 30px 0;
}

.center {
	text-align: center;
}

settings-component.show .settings__header {
	top: 0;
}