<header class="settings__header">
	<div class="middle">
		Настройки
		<div (click)="toggleSettings()" class="settings__close">
			<span *ngIf="settings.show"> &#10006; Скрыть настройки</span>
			<span *ngIf="!settings.show">Показать настройки</span>
		</div>
	</div>
</header>
<div class="container">
	<div class="row">
		<div class="column">
			<label class="settings__label">Размер поля: </label>
			<input class="settings__input" type="number" min="5" max="30" 
				[(ngModel)]="settings.sizeCanvas.x" #sizeX>
				&#10006;
			<input class="settings__input" type="number" min="5" max="30" 
				[(ngModel)]="settings.sizeCanvas.y" #sizeY>
		</div>
		<div class="column">
			<label class="settings__label">Количество мин: </label>
			<input class="settings__input" name="count" type="number" min="1" max="250" 
				[(ngModel)]="settings.countMines" #mines>
		</div>
	</div>
	<div class="row">
		<button (click)="changeSettings(sizeX.value, sizeY.value, mines.value)" class="settings__submit">Начать</button>
	</div>
</div>