.row {
	display: flex;
	align-items: center;
}

.row + .row {
	margin-top: 20px;
}

.column {
	padding: 0 30px;
}

.settings__header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	background: #2A70A6;
	height: 50px;
	font-size: 24px;
	color: #fff;
}

input:-webkit-autofill { 
-webkit-box-shadow: 0 0 0px 1000px white inset; 
}

.settings__header .middle {
	height: 50px;
	display: flex;
	align-items: center;
}


.settings__close {
	font-size: 16px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.settings__label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #666;
}

td {
	padding: 5px 0;
}

.row {
	justify-content: center;
}

td[colspan="2"] {
	text-align: center;
}

.settings__submit {
	display: block;
	width: 200px;
	height: 40px;
	border: solid 1px #2A70A6;
	border-radius: 3px;
	background: #2A70A6;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: bold;
	margin: 0 auto;
	cursor: pointer;
}

.settings__submit:hover {
	color: #2A70A6;
	background-color: #fff;
}

.settings__input {
	height: 30px;
	width: 60px;
	margin: 0 5px;
	border-radius: 3px;
	border: solid 1px #999;
	padding: 5px;
	font-size: 24px;
	color: #666;
}