<settings-component 
	[class.show]="settings.show"  
	[settings]="settings" 
	[countMines]="countMines" 
	(changedState)="changeStateSettings()"
	(changedSettings)="onChangeSettings()"></settings-component>
<div class="shadow" [class.show]="settings.show"></div>

<div class="center">
	<canvas-component [mines]="mines" [class.showedSettings]="settings.show"></canvas-component>
	<div>
		<button (click)="initGame()" class="btn">Заново</button>
	</div>
</div>