canvas-component {
	display: inline-block;
	background: #333;
	margin-top: 100px;
	position: relative;
	border: solid 1px #333;
	border-bottom: none;
	border-right: none;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.5);
	z-index: 0;
	transition: .26s;
}

canvas-component.showedSettings {
	margin-top: 200px;
}


settings-component {
	position: fixed;
	z-index: 2;
	top: -200px;
	width: 100%;
	padding-top: 50px;
	background: #F4FAFF;
	border-bottom: solid 1px #2A70A6;
	transition: .26s;
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
}

settings-component.show {
	top: 0;
}

.shadow {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0,0,0,0);
	transition: .26s;
	
}

.shadow.show {
	height: 100%;
	background: rgba(0,0,0,.5);
}

.btn {
	margin-top: 30px;
	width: 120px;
	height: 40px;
	font-size: 18px;
	color: #fff;
	border: none;
	border-radius: 2px;
	background: rgba(42, 112, 166, .9);
	box-shadow: inset 0 0 0 0 rgba(0,0,0,.1);
	cursor: pointer;
	transition: .26s;
}

.btn:hover {
	background: rgba(42, 112, 166, 1);
	box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.7);
}

.btn:focus {
	outline: none;
}